workflow.json
{
  "name": "workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://csrng.net/csrng/csrng.php?min=0&max=100",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1088,
        0
      ],
      "id": "d4b3aae2-4086-4e74-9e18-5cf7ae26aca8",
      "name": "simulaUmidade"
    },
    {
      "parameters": {
        "url": "=https://api.open-meteo.com/v1/forecast?latitude=-22.90&longitude=-47.06&current_weather=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        0
      ],
      "id": "6cbc6635-8451-4596-9fb6-26149d9b7004",
      "name": "buscaClima"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "ace98559-0ace-44d9-aa86-d36bedf4d6fd",
      "name": "trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "Você é o assistente inteligente do sistema Smart Garden. Sua função é analisar dados climáticos de Campinas e a umidade do solo para decidir se a irrigação deve ser ativada. Responda de forma prática, direta e em formato JSON com 'decisao' (LIGADA ou DESLIGADA) e 'motivo'.",
              "role": "model"
            },
            {
              "content": "=Aqui estão os dados atuais para análise:\n- Umidade Atual: {{ $node[\"simulaUmidade\"].json.random }}%\n- Clima (WeatherCode Open-Meteo): {{$node[\"buscaClima\"].json.current_weather.weathercode }}\n\nO que devo fazer?"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1296,
        0
      ],
      "id": "bbb82913-8c0b-4913-8ce3-386fea6178de",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "biG8WmsCOqohLJTQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "simulaUmidade": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscaClima": {
      "main": [
        [
          {
            "node": "simulaUmidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trigger": {
      "main": [
        [
          {
            "node": "buscaClima",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cdd49913-0b67-43bb-ad56-2c62647e938b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7aa8a3f2dc4d361920ebbc77b1d6eb32e4c1c8e902708b5a5a07675127d6504b"
  },
  "id": "EpMefcf03fgHtfFC",
  "tags": []
}